[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
statsmodels = "*"
pingouin = "*"
ipykernel = "*"
ipython = "*"
jupyter = "*"
jupyterlab = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
